<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Carta</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Crear Nueva Carta</h1>
    <form method="POST">
        <label for="nombre">Nombre de la Carta:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" required><br><br>

        <label for="recetas">Seleccionar Recetas:</label>
        <select name="recetas" id="recetas">
            {% for receta in recetas %}
                <option value="{{ receta.id }}">{{ receta.nombre }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Crear Carta</button>
    </form>

    <br>
    <a href="{{ url_for('main.index') }}">Volver a la página principal</a>

    <script src="/static/js/scripts.js"></script>
</body>
</html>

