{% extends 'base.html' %}
{% block title %}Registrarse{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h1 class="mb-4">Nuevo usuario</h1>
    <form method="POST">
      <div class="mb-3">
        <input type="text" name="nombre" class="form-control" placeholder="Usuario" required>
      </div>
      <div class="mb-3">
        <input type="password" name="clave" class="form-control" placeholder="Contraseña" required>
      </div>
      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">Crear cuenta</button>
      </div>
    </form>
    <div class="text-center">
      <a href="{{ url_for('main.login') }}">Volver al login</a>
    </div>
  </div>
</div>
{% endblock %}
